{{ define "main" }}
<div class="container">
    <div class="row">
        <!-- USE SIDEBAR -->
        <!-- Post Container -->
   	    <div class="
            col-lg-8 col-lg-offset-1
            col-md-8 col-md-offset-1
            col-sm-12
            col-xs-12
            post-container
        ">
            <section>
                <h3>TAGS</h3>
                <div class="tags">
                    {{ $featured_condition_size := .Site.Params.featured_condition_size }}
                    {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
                    {{ if gt (len $taxonomy.Pages) $featured_condition_size }}
                    <a href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}" title="{{ $name }}">
                    {{ $name }}
                    </a>
                    {{ end }}
                    {{ end }}
                </div>
            </section>
       	</div>
        {{ partial "sidebar.html" . }}
	</div>
</div>
{{ end }}
